@import '../layout/card.scss';


    div.eventCardsWrap{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    @media screen and (max-width:767px){
        div.eventCardsWrap{
            flex-direction: column;
            align-items: center;
        }
        
    }

    //-----------------------卡片---------------------------
    div.eventCard{
        @include card(unset);
        background-image: url(../img/index/eventCardBg.png);
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        //右上點點按鈕
        div.dotWrap{
            width: 40px;
            height: 40px;
            margin: 5px 18px 0px 0px;
            align-self: flex-end;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;

            span.dot{
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: #646464;
            }
        }
        //圖片容器
        div.eventPicWrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            margin:5px auto;
            overflow: hidden;
            img.eventPic{
                height: 100%;
                vertical-align: middle;
            }
        }
        //文字容器
        div.cardText {
            width: 300px;
            height: 150px;
            margin: 0 auto;
            text-align: center;
            letter-spacing: 2px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h1 {
                width: 100%;
                font-size: $fzTitle;
                color: $fcContent;
                font-weight: 550;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
            }
            p {

                font-size: $fzContent;
                color: $fcInfo;
                text-align: left;
                overflow: hidden;
            }
            span {
                color: $fcInfo;
                font-size: $fzInfo;
                display: inline-block;
                margin: 5px 0px 20px 0px;
                cursor: pointer;
                &:hover{
                    color: #A5361C;
                }
            }
        }
    }
    @media screen and (max-width:1199px){
        div.eventCard{
            width: 300px;
    
            //右上點點按鈕
            div.dotWrap{
                margin: 5px 18px 0px 0px;
            }
            //圖片容器
            div.eventPicWrap {
                width: 270px;
                height: 270px;
            }
            //文字容器
            div.cardText {
                width: 270px;
            }
        }
    }
    @media screen and (max-width:1023px){
        div.eventCard{
            width: 230px;
    
            //右上點點按鈕
            div.dotWrap{
                margin: 0px 15px 0px 0px;
            }
            //圖片容器
            div.eventPicWrap {
                width: 200px;
                height: 200px;
            }
            //文字容器
            div.cardText {
                width: 200px;

                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    letter-spacing: 1px;
                }
            }
        }
    }
    @media screen and (max-width:767px){
        div.eventCard{
            width: 300px;
            margin: 7px 0px;
    
            //右上點點按鈕
            div.dotWrap{
                margin: 5px 18px 0px 0px;
            }
            //圖片容器
            div.eventPicWrap {
                width: 270px;
                height: 270px;
            }
            //文字容器
            div.cardText {
                width: 270px;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 2px;
                line-height: 1.5;
                h1 {
                    font-size: $fzTitle;
                }
                p {
                    font-size: $fzContent;
                }
            }
        }
    }


@media screen and (max-width:767px){
    div.eventWrap{
        margin-top: 130px;
    }
}
 
