// FilterBlock
.filterBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filterBlock .filterAll{
    display: flex;
    width: 100%;
    max-width: 1200px;
    // border: 1px solid red;
}
.filterBlock .filterAll li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 52px;
    font-size: $fzTitle;
    font-weight: bold;
    // border: 1px solid red;
    cursor: pointer;
}
.showFilter{
    background-image: url("../img/route/showFilterImage.png");
}
.filterBgImage{
    width: 100%;
    max-width: 1200px;
}
// routeFilterBlock RWD
@media screen and (max-width:$small){
    .filterBlock .filterAll li{
        font-size: $fzContent;
    }

}