@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  color: #1e1e1e;
  text-decoration: none;
  font-family: "微軟正黑體";
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  box-sizing: border-box; }

/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
.eventTitle {
  padding-top: 10%;
  width: 100%;
  margin: 0 auto; }
  .eventTitle img {
    width: 100%; }

.eventContent {
  max-width: 1200px;
  border: 1px solid red;
  margin: 70px auto; }
  .eventContent .newEvent {
    width: 100%;
    position: relative; }
    .eventContent .newEvent .newEventTitle {
      display: inline-block;
      position: absolute;
      left: -160px;
      top: -160px; }
    .eventContent .newEvent #slideBoard {
      width: 100%;
      border: 1px solid black;
      overflow: hidden; }
      .eventContent .newEvent #slideBoard ul {
        position: relative;
        display: flex; }
        .eventContent .newEvent #slideBoard ul a {
          display: inline-block; }
          .eventContent .newEvent #slideBoard ul a li {
            display: inline-flex;
            float: left;
            width: 1200px; }
            .eventContent .newEvent #slideBoard ul a li .newEventPic {
              background-color: #f2fbff;
              padding: 30px 48px 50px 48px;
              border: 1px solid #b0b0b0; }
            .eventContent .newEvent #slideBoard ul a li .newEventText {
              position: relative;
              margin: 0 auto; }
              .eventContent .newEvent #slideBoard ul a li .newEventText p {
                padding-top: 32%;
                font-size: 36px;
                color: #646464;
                font-family: 微軟正黑體; }

#contentButton {
  /* border: 1px solid red; */
  height: 45px;
  display: flex;
  justify-content: center; }
  #contentButton li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #589fb2;
    margin: 25px 8px;
    cursor: pointer; }
  #contentButton li.clickMe {
    background-color: #589fb2;
    opacity: 0.6; }

.cutLine {
  width: 100%;
  margin: 15px 0 80px 0; }
  .cutLine img {
    width: 100%; }

.eventScan {
  border: 1px solid green; }
  .eventScan .catalog {
    width: 100%;
    position: relative;
    margin: 60px 0; }
    .eventScan .catalog:before {
      content: "";
      background-image: url(../img/event/event_bluepointl.png);
      height: 30px;
      width: 1200px;
      position: absolute;
      bottom: -40px; }
    .eventScan .catalog ul {
      display: flex;
      flex-direction: row; }
      .eventScan .catalog ul li {
        font-size: 36px;
        color: #1e1e1e;
        margin: 10px 0px 0 0;
        padding: 5px 25px;
        cursor: pointer; }
        .eventScan .catalog ul li.color {
          background-image: url(../img/event/event_mark1.png);
          height: 45px;
          width: 200px; }
        .eventScan .catalog ul li p {
          font-family: 微軟正黑體; }

.selector select {
  width: 190px;
  height: 30px;
  padding: 5px;
  color: #646464;
  font-size: 16px; }

.cardBox {
  padding: 20px 0; }
  .cardBox .cardLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0; }
    .cardBox .cardLine .event {
      position: relative;
      width: 30%;
      background-image: url(../img/event/event_cardback.png); }
      .cardBox .cardLine .event.card {
        width: 340px;
        height: 510px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4); }
      .cardBox .cardLine .event .reportBtn {
        font-size: 30px;
        position: absolute;
        right: 15px;
        top: -10px; }
      .cardBox .cardLine .event .cardPic {
        margin: 25px auto;
        text-align: center; }
      .cardBox .cardLine .event .cardText {
        width: 310px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 3px; }
        .cardBox .cardLine .event .cardText h1 {
          font-size: 24px;
          color: #1e1e1e;
          font-weight: 550; }
        .cardBox .cardLine .event .cardText p {
          font-size: 18px;
          color: #646464;
          margin: 10px;
          text-align: left;
          letter-spacing: 4px; }
        .cardBox .cardLine .event .cardText span {
          color: #646464;
          font-size: 16px;
          display: inline-block;
          margin: 5px;
          cursor: pointer; }

.viewMore {
  margin: 10px auto;
  text-align: center; }

body {
  position: relative; }

.backDrop {
  background-color: rgba(24, 24, 24, 0.8);
  display: none;
  filter: alpha(opacity=0);
  height: 100%;
  left: 0px;
  opacity: .0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 50; }

.close {
  color: #646464;
  cursor: pointer;
  right: 10px;
  font-size: 32px;
  margin: 10px;
  position: absolute; }

.lightbox_holdevent_info, .lightbox_detailevent_info {
  position: fixed;
  background-color: #d4d3d3;
  background-image: url(../img/event/event_cardback.png);
  box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
  display: none;
  opacity: 0;
  z-index: 51;
  width: 70%;
  height: 75%;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 15px; }
  .lightbox_holdevent_info .holdevent_title, .lightbox_detailevent_info .holdevent_title {
    text-align: center;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 550;
    margin: 30px auto 20px auto; }
  .lightbox_holdevent_info .holdevent_step, .lightbox_detailevent_info .holdevent_step {
    margin: 0px auto;
    border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; }
<<<<<<< HEAD
    .lightbox_holdevent_info .holdevent_step div {
      height: 100px;
      margin: 0 30px;
      width: 100px;
      border-radius: 50%;
=======
    .lightbox_holdevent_info .holdevent_step div, .lightbox_detailevent_info .holdevent_step div {
      margin: 0 55px;
      width: 110px;
      height: 110px;
>>>>>>> a5084ba97f45e4938091d7f105ca11a5c0e8a920
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
<<<<<<< HEAD
      position: relative;
      border: 1px solid #6a9cb0; }
      .lightbox_holdevent_info .holdevent_step div div {
=======
      border: 1px solid #6a9cb0;
      border-radius: 50%; }
      .lightbox_holdevent_info .holdevent_step div.yellow, .lightbox_detailevent_info .holdevent_step div.yellow {
        background-color: #e4c56f; }
      .lightbox_holdevent_info .holdevent_step div p, .lightbox_detailevent_info .holdevent_step div p {
        margin: 4px 0; }

.holdevent_step1content {
  display: none;
  border: 1px solid purple;
  position: absolute;
  width: 100%; }

.chooseRoute {
  margin: 30px auto;
  display: flex;
  justify-content: center; }
  .chooseRoute .sliderWrap {
    width: 1100px;
    overflow: hidden; }
    .chooseRoute .sliderWrap .routeBox {
      text-align: center;
      display: flex;
      flex-direction: row;
      border: 1px solid green;
      width: 1600px; }
      .chooseRoute .sliderWrap .routeBox div {
        cursor: pointer;
        background-color: #cce6f0;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        line-height: 200px;
        font-size: 18px;
        color: #646464; }
  .chooseRoute .slideBtn {
    width: 45px;
    border: 1px solid #6a9cb0;
    padding-top: 73px; }
    .chooseRoute .slideBtn img {
      width: 100%; }

.routeClick {
  margin: 0 auto;
  border: 1px solid #6a9cb0;
  width: 95%; }
  .routeClick p {
    margin: 10px 0 20px 0px;
    font-size: 18px;
    color: #646464; }

.stepBtn {
  display: flex;
  justify-content: center; }
  .stepBtn div {
    margin: 0px 60px 5px 60px; }

.holdevent_step2content {
  display: none; }
  .holdevent_step2content .step2Info {
    display: flex;
    border: 1px solid green;
    padding: 0 30px; }
    .holdevent_step2content .step2Info .holderPic {
      width: 50%;
      border: 1px solid purple; }
      .holdevent_step2content .step2Info .holderPic input {
        font-size: 18px;
        color: #646464; }
      .holdevent_step2content .step2Info .holderPic div {
        border-radius: 5px;
        margin-top: 20px;
        border: 3px dashed #6a9cb0;
        width: 480px;
        height: 265px; }
    .holdevent_step2content .step2Info .holderPicBox {
      text-align: center;
      line-height: 265px;
      font-size: 18px;
      color: #646464; }
  .holdevent_step2content .holderInfo {
    margin: 10px auto;
    font-size: 18px;
    color: #646464; }
    .holdevent_step2content .holderInfo div {
      margin: 10px 0; }
      .holdevent_step2content .holderInfo div input {
        width: 280px;
        height: 35px; }
      .holdevent_step2content .holderInfo div label {
        margin-right: 10px; }

.holdevent_step3content {
  display: block;
  font-size: 18px;
  color: #646464; }
  .holdevent_step3content .step3Info {
    display: flex;
    margin: 20px 50px;
    border: 1px solid green; }
    .holdevent_step3content .step3Info .holderCover {
      width: 50%;
      border: 1px solid purple;
      padding-left: 50px; }
      .holdevent_step3content .step3Info .holderCover .holderCoverPic {
        width: 420px; }
        .holdevent_step3content .step3Info .holderCover .holderCoverPic img {
          border-radius: 5px;
          width: 100%; }
      .holdevent_step3content .step3Info .holderCover .holderCoverText {
        margin: 10px 0;
        letter-spacing: 1.2px; }
        .holdevent_step3content .step3Info .holderCover .holderCoverText .title {
          font-weight: 550;
          font-size: 20px;
          margin: 10px 0; }
    .holdevent_step3content .step3Info .holderCoverInfo {
      line-height: 2;
      letter-spacing: 1.2px;
      padding-left: 100px; }
      .holdevent_step3content .step3Info .holderCoverInfo table {
        margin-top: 10px; }
        .holdevent_step3content .step3Info .holderCoverInfo table tr {
          height: 50px; }
          .holdevent_step3content .step3Info .holderCoverInfo table tr td:nth-child(1) {
            width: 130px; }

.detaileventContent {
  border: 1px solid red;
  font-size: 18px;
  color: #1e1e1e;
  display: flex;
  padding-top: 50px;
  letter-spacing: 1.2px;
  justify-content: center;
  line-height: 1.75; }
  .detaileventContent .detaileventPic {
    width: 50%;
    border: 1px solid green; }
    .detaileventContent .detaileventPic .title {
      border: 1px solid purple;
      display: flex;
      position: relative; }
      .detaileventContent .detaileventPic .title .eventInfotitle {
        font-size: 24px;
        font-weight: 550;
        line-height: 32px;
        margin-right: 150px; }
      .detaileventContent .detaileventPic .title .reportBtnB {
        font-size: 30px;
        text-align: center;
>>>>>>> a5084ba97f45e4938091d7f105ca11a5c0e8a920
        position: absolute;
        right: 70px;
        bottom: 0; }
    .detaileventContent .detaileventPic .detaileventPicbox {
      width: 550px;
      padding-top: 40px; }
      .detaileventContent .detaileventPic .detaileventPicbox img {
        width: 100%;
        border-radius: 5px; }
  .detaileventContent .detaileventText {
    padding: 70px 0px 0px 0px;
    width: 45%;
    border: 1px solid blue; }
    .detaileventContent .detaileventText .eventInforow {
      height: 45px;
      line-height: 45px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center; }
      .detaileventContent .detaileventText .eventInforow .eventrowTitle {
        background-color: lightblue;
        width: 30%;
        margin-right: 40px;
        border-radius: 3px;
        text-align: center; }
      .detaileventContent .detaileventText .eventInforow div:nth-child(2) {
        width: 60%;
        border: 1px solid red; }

.enroll {
  padding-top: 5px;
  text-align: center; }

.lightbox_report_info {
  position: fixed;
  background-color: #d4d3d3;
  background-image: url(../img/event/event_cardback.png);
  box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
  display: block;
  opacity: 1;
  z-index: 51;
  width: 20%;
  height: 40%;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 15px; }
  .lightbox_report_info .reportTitle {
    font-size: 24px;
    margin: 30px 0;
    text-align: center; }
  .lightbox_report_info form {
    font-size: 20px;
    padding: 0 15px;
    margin: 30px auto; }
    .lightbox_report_info form input {
      margin: 15px; }
  .lightbox_report_info .reportSent {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly; }
