@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  color: #1e1e1e;
  text-decoration: none;
  font-family: "微軟正黑體";
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  box-sizing: border-box; }

/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
div.eventWrap {
  width: 100%;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  div.eventWrap div.eventBtn {
    margin-top: 20px; }
  div.eventWrap div.eventCardsWrap {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  @media screen and (max-width: 767px) {
    div.eventWrap div.eventCardsWrap {
      flex-direction: column;
      align-items: center; } }
  div.eventWrap div.eventCard {
    width: 340px;
    height: unset;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4);
    background-image: url(../img/index/eventCardBg.png);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; }
    div.eventWrap div.eventCard div.dotWrap {
      width: 40px;
      height: 40px;
      margin: 5px 18px 0px 0px;
      align-self: flex-end;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer; }
      div.eventWrap div.eventCard div.dotWrap span.dot {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #646464; }
    div.eventWrap div.eventCard div.eventPicWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      margin: 5px auto;
      overflow: hidden; }
      div.eventWrap div.eventCard div.eventPicWrap img.eventPic {
        height: 100%;
        vertical-align: middle; }
    div.eventWrap div.eventCard div.cardText {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      align-items: center; }
      div.eventWrap div.eventCard div.cardText h1 {
        width: 100%;
        font-size: 24px;
        color: #1e1e1e;
        font-weight: 550;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px; }
      div.eventWrap div.eventCard div.cardText p {
        font-size: 18px;
        color: #646464;
        text-align: left; }
      div.eventWrap div.eventCard div.cardText span {
        color: #646464;
        font-size: 16px;
        display: inline-block;
        margin: 5px 0px 20px 0px;
        cursor: pointer; }
        div.eventWrap div.eventCard div.cardText span:hover {
          color: #A5361C; }
  @media screen and (max-width: 1199px) {
    div.eventWrap div.eventCard {
      width: 300px; }
      div.eventWrap div.eventCard div.dotWrap {
        margin: 5px 18px 0px 0px; }
      div.eventWrap div.eventCard div.eventPicWrap {
        width: 270px;
        height: 270px; }
      div.eventWrap div.eventCard div.cardText {
        width: 270px; } }
  @media screen and (max-width: 1023px) {
    div.eventWrap div.eventCard {
      width: 230px; }
      div.eventWrap div.eventCard div.dotWrap {
        margin: 0px 15px 0px 0px; }
      div.eventWrap div.eventCard div.eventPicWrap {
        width: 200px;
        height: 200px; }
      div.eventWrap div.eventCard div.cardText {
        width: 200px; }
        div.eventWrap div.eventCard div.cardText h1 {
          font-size: 20px; }
        div.eventWrap div.eventCard div.cardText p {
          font-size: 16px;
          letter-spacing: 1px; } }
  @media screen and (max-width: 767px) {
    div.eventWrap div.eventCard {
      width: 300px;
      margin: 7px 0px; }
      div.eventWrap div.eventCard div.dotWrap {
        margin: 5px 18px 0px 0px; }
      div.eventWrap div.eventCard div.eventPicWrap {
        width: 270px;
        height: 270px; }
      div.eventWrap div.eventCard div.cardText {
        width: 270px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1.5; }
        div.eventWrap div.eventCard div.cardText h1 {
          font-size: 24px; }
        div.eventWrap div.eventCard div.cardText p {
          font-size: 18px; } }

@media screen and (max-width: 767px) {
  div.eventWrap {
    margin-top: 130px; } }

img.eventSubTitle {
  display: inline-block;
  position: absolute;
  left: -5%;
  top: -150px;
  animation: subtitleAni .8s infinite alternate; }

@keyframes subtitleAni {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0px); } }

@media screen and (max-width: 1365px) {
  img.eventSubTitle {
    left: 0%; } }

@media screen and (max-width: 1199px) {
  img.eventSubTitle {
    top: -150px; } }

@media screen and (max-width: 1023px) {
  img.eventSubTitle {
    top: -130px;
    width: 170px; } }

img.baoPic {
  width: 130px;
  position: absolute;
  top: 100px;
  right: -210px;
  animation: bagAni 2s infinite alternate linear; }

img.taroPic {
  width: 150px;
  position: absolute;
  top: 250px;
  right: -320px;
  animation: bagAni 2s infinite alternate-reverse linear; }

img.backagePic {
  width: 160px;
  position: absolute;
  top: 500px;
  left: -280px;
  animation: bagAni 2s infinite alternate linear; }

img.potPic {
  width: 160px;
  position: absolute;
  top: 660px;
  left: -200px;
  animation: bagAni 2s infinite alternate-reverse linear; }

@keyframes bagAni {
  form {
    transform: rotate(-7deg); }
  to {
    transform: rotate(7deg); } }

@media screen and (max-width: 1199px) {
  img.baoPic,
  img.taroPic,
  img.backagePic,
  img.potPic {
    display: none; } }

.eventTitle {
  padding-top: 10%;
  width: 100%;
  margin: 0 auto; }
  .eventTitle img {
    width: 100%; }

.eventContent {
  max-width: 1200px;
  margin: 0px auto; }
  .eventContent .newEvent {
    width: 100%;
    position: relative; }
    .eventContent .newEvent .loudspeaker {
      width: 110px;
      position: absolute;
      right: 120px;
      bottom: 70px;
      transform: rotateY(180deg); }
    .eventContent .newEvent .newEventTitle {
      z-index: 10;
      display: inline-block;
      position: absolute;
      left: -185px;
      top: -75px;
      animation: subtitleAni .8s infinite alternate; }
    .eventContent .newEvent #slideBoard {
      width: 100%;
      overflow: hidden;
      letter-spacing: 1.5px;
      line-height: 1.75; }
      .eventContent .newEvent #slideBoard #content {
        position: relative;
        display: inline-flex; }
        .eventContent .newEvent #slideBoard #content .newSlider {
          display: flex;
          float: left;
          justify-content: center;
          width: 1200px;
          justify-content: start;
          cursor: pointer; }
          .eventContent .newEvent #slideBoard #content .newSlider .newEventPic {
            background-color: #f2fbff;
            padding: 30px 48px 50px 48px; }
            .eventContent .newEvent #slideBoard #content .newSlider .newEventPic a {
              display: inline-block; }
          .eventContent .newEvent #slideBoard #content .newSlider .newEventText {
            position: relative;
            margin: 170px auto;
            vertical-align: middle; }
            .eventContent .newEvent #slideBoard #content .newSlider .newEventText p {
              font-size: 24px;
              color: #646464; }

#contentButton {
  /* border: 1px solid red; */
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center; }
  #contentButton li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #91c4d3;
    margin: 25px 8px;
    cursor: pointer; }
  #contentButton li.clickMe {
    background-color: #589fb2; }

.cutLine {
  width: 100%;
  margin: 15px 0 80px 0; }
  .cutLine img {
    width: 100%; }

.eventScan {
  position: relative; }
  .eventScan .airb {
    width: 180px;
    position: absolute;
    top: 200px;
    left: -220px; }
  .eventScan .firework {
    width: 180px;
    position: absolute;
    top: 650px;
    right: -175px; }
  .eventScan .skylight {
    width: 180px;
    position: absolute;
    top: 1210px;
    left: -220px; }
  .eventScan .catalog {
    width: 100%;
    position: relative;
    margin: 60px 0; }
    .eventScan .catalog:before {
      content: "";
      background-image: url(../img/event/event_bluepointl.png);
      height: 30px;
      width: 1200px;
      position: absolute;
      bottom: -40px; }
    .eventScan .catalog ul {
      display: flex;
      flex-direction: row; }
      .eventScan .catalog ul li {
        font-size: 36px;
        color: #1e1e1e;
        margin: 10px 0px 0 0;
        padding: 5px 25px;
        cursor: pointer; }
        .eventScan .catalog ul li.color {
          background-image: url(../img/event/event_mark1.png);
          height: 45px;
          width: 200px; }
        .eventScan .catalog ul li p {
          font-family: 微軟正黑體; }

.selector select {
  width: 190px;
  height: 30px;
  margin: 10px 0;
  color: #646464;
  font-size: 16px; }

.cardBox2 {
  display: none; }

.viewMore {
  margin: 35px auto 0 auto;
  text-align: center; }

.wrapper {
  position: relative; }

.backDrop {
  background-color: rgba(24, 24, 24, 0.8);
  display: none;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  position: fixed; }

.close {
  color: #646464;
  cursor: pointer;
  right: 10px;
  font-size: 32px;
  margin: 10px;
  position: absolute; }

.lightbox_holdevent_info, .lightbox_detailevent_info {
  position: relative;
  background-color: #d4d3d3;
  background-image: url(../img/event/event_cardback.png);
  box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 750px;
  border-radius: 15px;
  align-items: center; }
  .lightbox_holdevent_info .holdevent_title, .lightbox_detailevent_info .holdevent_title {
    text-align: center;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: bold;
    margin: 40px auto 20px auto; }
  .lightbox_holdevent_info form, .lightbox_detailevent_info form {
    height: 536px; }
    .lightbox_holdevent_info form .stepALL, .lightbox_detailevent_info form .stepALL {
      height: 536px; }
  .lightbox_holdevent_info .holdevent_step, .lightbox_detailevent_info .holdevent_step {
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center; }
    .lightbox_holdevent_info .holdevent_step div, .lightbox_detailevent_info .holdevent_step div {
      margin: 0 55px;
      width: 110px;
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      font-size: 18px;
      border: 1px solid #6a9cb0; }
      .lightbox_holdevent_info .holdevent_step div p, .lightbox_detailevent_info .holdevent_step div p {
        margin-bottom: 10px; }

.color {
  background-color: #FFD66A; }

.holdevent_step1content {
  height: 536px;
  display: block; }

.chooseRoute {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .chooseRoute .sliderWrap {
    width: 1100px;
    overflow: hidden; }
    .chooseRoute .sliderWrap .routeBox {
      text-align: center;
      display: flex;
      flex-direction: row;
      width: 1600px; }
      .chooseRoute .sliderWrap .routeBox div {
        cursor: pointer;
        background-color: #cce6f0;
        border-radius: 3px;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        line-height: 200px;
        font-size: 18px;
        color: #646464; }
  .chooseRoute .slideBtn {
    margin: 0 10px;
    cursor: pointer; }
    .chooseRoute .slideBtn img {
      width: 100%; }

.routeClick {
  margin: 60px auto;
  padding: 0px 95px;
  width: 100%; }
  .routeClick p {
    margin: 20px 0 20px 0px;
    font-size: 18px;
    color: #646464; }

.stepBtn {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px; }
  .stepBtn div {
    margin: 0px 80px; }

.holdevent_step2content {
  display: none;
  height: 536px;
  width: 100%; }
  .holdevent_step2content .step2Info {
    width: 100%;
    display: flex;
    padding: 10px 40px; }
    .holdevent_step2content .step2Info .holderPic {
      width: 50%; }
      .holdevent_step2content .step2Info .holderPic input {
        font-size: 18px;
        color: #646464; }
      .holdevent_step2content .step2Info .holderPic div {
        border-radius: 5px;
        margin-top: 20px;
        border: 3px dashed #6a9cb0;
        width: 480px;
        height: 265px; }
    .holdevent_step2content .step2Info .holderPicBox {
      text-align: center;
      line-height: 265px;
      font-size: 18px;
      color: #646464; }
  .holdevent_step2content .holderInfo {
    width: 50%;
    font-size: 18px;
    align-items: center;
    color: #646464;
    padding: 0px 70px; }
    .holdevent_step2content .holderInfo div {
      margin: 15px 0; }
      .holdevent_step2content .holderInfo div input {
        width: 220px;
        height: 35px; }
      .holdevent_step2content .holderInfo div label {
        margin-right: 10px; }

.holdevent_step3content {
  display: none;
  font-size: 18px;
  color: #646464;
  height: 536px;
  width: 100%; }
  .holdevent_step3content .step3Info {
    display: flex;
    padding: 10px 40px; }
    .holdevent_step3content .step3Info .holderCover {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 15px 60px; }
      .holdevent_step3content .step3Info .holderCover .holderCoverPic {
        margin-top: 10px; }
        .holdevent_step3content .step3Info .holderCover .holderCoverPic img {
          border-radius: 5px;
          width: 100%; }
      .holdevent_step3content .step3Info .holderCover .holderCoverText {
        margin: 20px 0;
        letter-spacing: 1.2px; }
        .holdevent_step3content .step3Info .holderCover .holderCoverText .title {
          font-weight: 550;
          font-size: 20px;
          margin: 15px 0; }
    .holdevent_step3content .step3Info .holderCoverInfo {
      line-height: 2;
      letter-spacing: 1.2px;
      padding: 45px 85px;
      width: 50%; }
      .holdevent_step3content .step3Info .holderCoverInfo table tr {
        height: 60px; }
        .holdevent_step3content .step3Info .holderCoverInfo table tr td:nth-child(1) {
          width: 110px; }

.detaileventContent {
  width: 100%;
  font-size: 18px;
  color: #1e1e1e;
  display: flex;
  padding-top: 100px;
  letter-spacing: 1.2px;
  justify-content: center;
  line-height: 1.75; }
  .detaileventContent .detaileventPic {
    width: 50%;
    padding: 10px 10px 10px 25px; }
    .detaileventContent .detaileventPic .title {
      display: flex;
      position: relative; }
      .detaileventContent .detaileventPic .title .eventInfotitle {
        font-size: 24px;
        font-weight: 550;
        margin-right: 150px; }
      .detaileventContent .detaileventPic .title .dotWrap {
        right: 25px;
        width: 40px;
        height: 40px;
        align-self: flex-end;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        cursor: pointer;
        position: absolute; }
      .detaileventContent .detaileventPic .title .dot {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #646464; }
    .detaileventContent .detaileventPic .detaileventPicbox {
      width: 550px;
      padding-top: 20px; }
      .detaileventContent .detaileventPic .detaileventPicbox img {
        width: 100%;
        border-radius: 5px; }
  .detaileventContent .detaileventText {
    padding: 70px 0px 0px 20px;
    width: 45%; }
    .detaileventContent .detaileventText .eventInforow {
      height: 45px;
      line-height: 45px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center; }
      .detaileventContent .detaileventText .eventInforow .eventrowTitle {
        background-color: lightblue;
        width: 30%;
        margin-right: 40px;
        border-radius: 3px;
        text-align: center; }
      .detaileventContent .detaileventText .eventInforow div:nth-child(2) {
        width: 60%; }

.enroll {
  position: absolute;
  bottom: 58px; }

.lightbox_report_info {
  position: fixed;
  background-color: #d4d3d3;
  background-image: url(../img/event/event_cardback.png);
  box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
  width: 20%;
  height: 40%;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px; }
  .lightbox_report_info .reportTitle {
    font-size: 24px;
    margin: 30px 0;
    text-align: center; }
  .lightbox_report_info form {
    font-size: 20px;
    padding: 0 25px;
    margin: 35px auto; }
    .lightbox_report_info form input {
      margin: 15px; }
  .lightbox_report_info .reportSent {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 35px;
    position: absolute; }
    .lightbox_report_info .reportSent div {
      margin: 0px 13px; }
