@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  font-family: "微軟正黑體";
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  box-sizing: border-box; }

/* btnClass */
.btnRed {
  /*主要按鈕*/
  width: 175px;
  height: 60px;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background-image: url("../img/element/btnRed.png");
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  transition: filter .1s;
  cursor: pointer; }
  .btnRed:hover {
    filter: brightness(1.09); }

.btnPink {
  /*次要按鈕*/
  width: 120px;
  height: 40px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-image: url("../img/element/btnPink.png");
  transition: filter .1s;
  cursor: pointer; }
  .btnPink:hover {
    filter: brightness(1.05); }

.btnPinkStop {
  /*次要按鈕_不能按*/
  width: 120px;
  height: 40px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-image: url("../img/element/btnPink.png");
  filter: grayscale(1.1); }

#btnGoTop {
  /*回到頂端*/
  width: 50px;
  height: 200px;
  position: relative;
  display: inline-block;
  background-image: url("../img/element/btnGoTop.png");
  transition: filter .1s;
  cursor: pointer; }

.btnCust {
  /*自訂按鈕*/
  width: 105px;
  height: 105px;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: center;
  line-height: 130px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../img/element/btnCust.png");
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: filter .1s;
  cursor: pointer; }
  .btnCust:hover {
    filter: brightness(1.05); }

/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
.card {
  width: 340px;
  height: 520px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4); }

header.fullHeader {
  width: 100%;
  height: 170px;
  display: flex;
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background-image: url("../img/header/headerBgImage.png");
  background-repeat: no-repeat; }

header.fullHeader h1 {
  display: block;
  width: 270px;
  height: 170px;
  transform: translate(-300px, 35px); }

header.fullHeader h1 img {
  width: 100%;
  height: 100%;
  vertical-align: center; }

header.fullHeader nav {
  transform: translateY(-20px); }

header.fullHeader nav ul {
  display: flex; }

header.fullHeader nav ul li {
  width: 135px;
  height: 40px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 30px; }

header.fullHeader nav ul li:last-child {
  margin-right: unset; }

header.fullHeader nav ul li img {
  vertical-align: center; }

header.fullHeader nav ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #1e1e1e;
  font-weight: bold;
  text-decoration: none;
  position: relative; }

header.fullHeader nav ul li a .navIcon {
  margin-right: 5px; }

header.fullHeader nav ul li a:hover .navIcon {
  animation: shake 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate; }

@keyframes shake {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-10px); } }

header.fullHeader nav ul li a .navHover {
  width: 0px;
  position: absolute;
  left: 23px;
  z-index: -1;
  filter: brightness(1.09);
  opacity: 0;
  transition: all .5s; }

header.fullHeader nav ul li a:hover .navHover {
  opacity: 1;
  width: 120px; }

header.fullHeader nav ul li a .navHover.show {
  opacity: 1;
  width: 120px; }

header.fullHeader .memberIcon {
  display: flex;
  transform: translate(300px, -30px); }

header.fullHeader .memberIcon div {
  margin-right: 15px; }

header.fullHeader .memberIcon div:last-child {
  margin-right: 0px; }

header.hamburgerHeader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 1s; }

header.hamburgerHeader.showHeader {
  transform: translateY(0%); }

header.hamburgerHeader nav ul li {
  width: 180px;
  height: 45px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 20px; }

header.hamburgerHeader nav ul li a {
  font-size: 24px;
  color: #1e1e1e;
  font-weight: bold;
  text-align: right;
  padding-left: 10px; }

header.hamburgerHeader li a .navIcon {
  transform: translateX(-10px); }

header.hamburgerHeader .memberIcon {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

header.hamburgerHeader .memberIcon div {
  margin-right: 15px; }

header.hamburgerHeader .memberIcon div:last-child {
  margin-right: 0px; }

h1.smartPhoneLogo {
  width: 120px;
  display: none;
  position: fixed;
  top: 10px;
  left: 5px; }

h1.smartPhoneLogo img {
  width: 100%; }

.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #a5361c; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #a5361c;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

@media all and (max-width: 1805px) {
  header.fullHeader h1 {
    display: block;
    width: 200px;
    height: unset;
    transform: translate(-20px, 0px); }
  header.fullHeader nav {
    transform: translateY(-10px); }
  header.fullHeader .memberIcon {
    display: flex;
    transform: translate(0px, -50px); } }

@media all and (max-width: 1199px) {
  header.fullHeader {
    display: none; }
  header.hamburgerHeader {
    display: flex; }
  h1.smartPhoneLogo {
    display: block; }
  .hamburger {
    display: inline-block;
    position: fixed;
    right: 5px;
    z-index: 101; } }

.banner_01 {
  background-image: url("../img/banner/banner_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_01 {
    background-image: url("../img/banner/banner_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_01 {
    background-image: url("../img/banner/banner_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

.banner_02 {
  background-image: url("../img/banner/banner_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_02 {
    background-image: url("../img/banner/banner_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_02 {
    background-image: url("../img/banner/banner_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

.banner_03 {
  background-image: url("../img/banner/banner_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_03 {
    background-image: url("../img/banner/banner_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_03 {
    background-image: url("../img/banner/banner_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

.banner_04 {
  background-image: url("../img/banner/banner_04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_04 {
    background-image: url("../img/banner/banner_04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_04 {
    background-image: url("../img/banner/banner_04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

.banner_05 {
  background-image: url("../img/banner/banner_05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_05 {
    background-image: url("../img/banner/banner_05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_05 {
    background-image: url("../img/banner/banner_05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

.banner_06 {
  background-image: url("../img/banner/banner_06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: 550px; }

@media all and (max-width: 1024px) {
  .banner_06 {
    background-image: url("../img/banner/banner_06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 300px; } }

@media all and (max-width: 576px) {
  .banner_06 {
    background-image: url("../img/banner/banner_06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    background-position: center bottom;
    width: 100%;
    height: unset;
    padding-top: 100%; } }

/* 麵包屑 */
.breadCrumb {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding-left: 20px;
  margin: 20px auto; }

.breadCrumb li {
  display: inline-block;
  list-style-type: none; }

.breadCrumb li::after {
  content: '｜'; }

.breadCrumb li a {
  color: #1e1e1e; }

.breadCrumb li a:hover {
  color: #a5361c;
  font-weight: bold; }

.breadCrumb li:last-child::after {
  content: ''; }

.breadCrumb li:last-child a {
  font-weight: bold;
  color: #a5361c; }

footer {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/footer/footerBgImage.png");
  background-repeat: no-repeat;
  background-size: cover; }

footer .footerCloud {
  align-self: flex-start;
  margin-left: 80px; }

footer .footerCloud .footerCloud170 {
  transform: translateY(-10px);
  animation: cloudMove1 2s cubic-bezier(0.14, 0.47, 0.82, 0.46) alternate infinite; }

footer .footerCloud .footerCloud122 {
  animation: cloudMove2 1.5s linear alternate infinite; }

@keyframes cloudMove1 {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(20px); } }

@keyframes cloudMove2 {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(15px); } }

footer .footerLogo {
  margin-bottom: 20px; }

footer .footerLogo img {
  width: 100%; }

footer .footerText p {
  margin-bottom: 10px;
  font-size: 16px; }

@media screen and (max-width: 576px) {
  footer .footerText p {
    font-size: 12.8px; }
  footer .footerLogo {
    width: 200px; }
  footer .footerCloud {
    margin-left: 10px; }
  footer .footerCloud .footerCloud170 {
    width: 100px; }
  footer .footerCloud .footerCloud122 {
    width: 80px; } }

.wrapper {
  background-image: url("../img/element/bgImage.png");
  position: relative; }
