@charset "UTF-8";
.filterBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.filterBlock .filterAll {
  display: flex;
  width: 100%;
  max-width: 1200px; }

.filterBlock .filterAll li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 52px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer; }

.showFilter {
  background-image: url("../img/route/showFilterImage.png"); }

.filterBgImage {
  width: 100%;
  max-width: 1200px; }

@media screen and (max-width: 575px) {
  .filterBlock .filterAll li {
    font-size: 18px; } }

/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
div.moodCardsWrap {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around; }

@media screen and (max-width: 767px) {
  div.moodCardsWrap {
    flex-direction: column;
    align-items: center; } }

div.moodCard {
  width: 340px;
  height: unset;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4);
  background-image: url(../img/index/moodCardsBg.png);
  border: 1px solid #c9bb88;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; }
  div.moodCard div.cardInfoBar {
    width: 300px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    div.moodCard div.cardInfoBar div.moodMemberPhoto {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      div.moodCard div.cardInfoBar div.moodMemberPhoto img {
        height: 100%;
        vertical-align: middle; }
    div.moodCard div.cardInfoBar div.infoTextWrap {
      width: 210px;
      padding-left: 10px;
      letter-spacing: 1px;
      display: flex;
      flex-direction: column; }
      div.moodCard div.cardInfoBar div.infoTextWrap span.moodClass {
        color: #1e1e1e;
        line-height: 1.5;
        font-size: 18px;
        font-weight: bold; }
      div.moodCard div.cardInfoBar div.infoTextWrap span.moodMemId {
        color: #646464;
        line-height: 1.5;
        font-size: 16px; }
    div.moodCard div.cardInfoBar div.dotWrap {
      width: 40px;
      height: 40px;
      align-self: flex-end;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      cursor: pointer; }
      div.moodCard div.cardInfoBar div.dotWrap span.dot {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #646464; }
  div.moodCard div.moodPicWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 5px auto;
    overflow: hidden; }
    div.moodCard div.moodPicWrap img.moodPic {
      height: 100%;
      vertical-align: middle; }
  div.moodCard div.heartBar {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px; }
    div.moodCard div.heartBar img.moodIcon {
      width: 35px;
      cursor: pointer; }
    div.moodCard div.heartBar span {
      color: #646464;
      font-size: 16px;
      margin: 0px 10px 0px 5px; }
  div.moodCard div.cardText {
    width: 300px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    div.moodCard div.cardText p {
      font-size: 18px;
      color: #646464;
      text-align: left;
      overflow: hidden; }
    div.moodCard div.cardText span {
      color: #646464;
      font-size: 16px;
      display: inline-block;
      margin: 5px 0px 20px 0px;
      cursor: pointer; }
      div.moodCard div.cardText span:hover {
        color: #A5361C; }

@media screen and (max-width: 1199px) {
  div.moodCard {
    width: 300px; }
    div.moodCard div.cardInfoBar {
      width: 270px; }
      div.moodCard div.cardInfoBar div.infoTextWrap {
        width: 180px; }
    div.moodCard div.moodPicWrap {
      width: 270px;
      height: 270px; }
    div.moodCard div.heartBar {
      width: 270px; }
    div.moodCard div.cardText {
      width: 270px; } }

@media screen and (max-width: 1023px) {
  div.moodCard {
    width: 230px; }
    div.moodCard div.cardInfoBar {
      width: 200px; }
      div.moodCard div.cardInfoBar div.infoTextWrap {
        width: 110px; }
        div.moodCard div.cardInfoBar div.infoTextWrap span.moodClass {
          font-size: 16px; }
    div.moodCard div.moodPicWrap {
      width: 200px;
      height: 200px; }
    div.moodCard div.heartBar {
      width: 200px; }
    div.moodCard div.cardText {
      width: 200px; }
      div.moodCard div.cardText h1 {
        font-size: 20px; }
      div.moodCard div.cardText p {
        font-size: 16px;
        letter-spacing: 0.5px; } }

@media screen and (max-width: 767px) {
  div.moodCard {
    width: 300px;
    margin: 7px 0px; }
    div.moodCard div.cardInfoBar {
      width: 270px; }
      div.moodCard div.cardInfoBar div.infoTextWrap {
        width: 180px; }
    div.moodCard div.moodPicWrap {
      width: 270px;
      height: 270px; }
    div.moodCard div.heartBar {
      width: 270px; }
    div.moodCard div.cardText {
      width: 270px; } }

@media screen and (max-width: 767px) {
  div.moodWrap {
    margin-top: 130px; } }

/*
     卡片：首頁、路線、心情、揪團，要使用的sample
    
     先用include card(設定height) 在做其他設定，我會再增加卡片的間距

    */
div.eventCardsWrap {
  width: 100%;
  display: flex;
  justify-content: space-around; }

@media screen and (max-width: 767px) {
  div.eventCardsWrap {
    flex-direction: column;
    align-items: center; } }

div.eventCard {
  width: 340px;
  height: unset;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(145, 131, 131, 0.4);
  background-image: url(../img/index/eventCardBg.png);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; }
  div.eventCard div.dotWrap {
    width: 40px;
    height: 40px;
    margin: 5px 18px 0px 0px;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer; }
    div.eventCard div.dotWrap span.dot {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #646464; }
  div.eventCard div.eventPicWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 5px auto;
    overflow: hidden; }
    div.eventCard div.eventPicWrap img.eventPic {
      height: 100%;
      vertical-align: middle; }
  div.eventCard div.cardText {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    div.eventCard div.cardText h1 {
      width: 100%;
      font-size: 24px;
      color: #1e1e1e;
      font-weight: 550;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px; }
    div.eventCard div.cardText p {
      font-size: 18px;
      color: #646464;
      text-align: left;
      overflow: hidden; }
    div.eventCard div.cardText span {
      color: #646464;
      font-size: 16px;
      display: inline-block;
      margin: 5px 0px 20px 0px;
      cursor: pointer; }
      div.eventCard div.cardText span:hover {
        color: #A5361C; }

@media screen and (max-width: 1199px) {
  div.eventCard {
    width: 300px; }
    div.eventCard div.dotWrap {
      margin: 5px 18px 0px 0px; }
    div.eventCard div.eventPicWrap {
      width: 270px;
      height: 270px; }
    div.eventCard div.cardText {
      width: 270px; } }

@media screen and (max-width: 1023px) {
  div.eventCard {
    width: 230px; }
    div.eventCard div.dotWrap {
      margin: 0px 15px 0px 0px; }
    div.eventCard div.eventPicWrap {
      width: 200px;
      height: 200px; }
    div.eventCard div.cardText {
      width: 200px; }
      div.eventCard div.cardText h1 {
        font-size: 20px; }
      div.eventCard div.cardText p {
        font-size: 16px;
        letter-spacing: 1px; } }

@media screen and (max-width: 767px) {
  div.eventCard {
    width: 300px;
    margin: 7px 0px; }
    div.eventCard div.dotWrap {
      margin: 5px 18px 0px 0px; }
    div.eventCard div.eventPicWrap {
      width: 270px;
      height: 270px; }
    div.eventCard div.cardText {
      width: 270px;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.5; }
      div.eventCard div.cardText h1 {
        font-size: 24px; }
      div.eventCard div.cardText p {
        font-size: 18px; } }

@media screen and (max-width: 767px) {
  div.eventWrap {
    margin-top: 130px; } }

.wrapper {
  background-image: url("../img/element/bgImage.png"); }

.banner_01 .routeTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.banner_01 .routeTitleMoveBlock {
  position: relative; }

.banner_01 .routeTitleImage2 {
  position: absolute;
  top: 0;
  left: 105px;
  transform: rotate(-15deg);
  animation: rotateMove 1.5s cubic-bezier(0.15, 0.76, 0.98, 0.4) alternate infinite; }

@keyframes rotateMove {
  from {
    transform: rotate(-10deg); }
  to {
    transform: rotate(10deg); } }

@media screen and (max-width: 575px) {
  .banner_01 .routeTitle {
    width: unset;
    height: unset; }
  .banner_01 .routeTitleMoveBlock {
    width: 375px;
    position: absolute;
    top: 200px; }
  .banner_01 .routeTitleImage1 {
    width: 100%; }
  .banner_01 .routeTitleImage2 {
    width: 25%;
    left: 70px; } }

.sloganBlock {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.sloganBlock .routeShineAnimation {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 120px;
  overflow: hidden;
  opacity: .85; }
  @media screen and (max-width: 1023px) {
    .sloganBlock .routeShineAnimation {
      right: 60px; } }
  @media screen and (max-width: 860px) {
    .sloganBlock .routeShineAnimation {
      right: 20px; } }
  @media screen and (max-width: 767px) {
    .sloganBlock .routeShineAnimation {
      width: 200px; } }
  @media screen and (max-width: 575px) {
    .sloganBlock .routeShineAnimation {
      top: -45px; } }
  @media screen and (max-width: 375px) {
    .sloganBlock .routeShineAnimation {
      width: 300px;
      top: -80px;
      transform: translate(66px, -18px); } }

.routeShineAnimation .cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  color: #eee;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #ccc, -2.1875em 0.6875em 0 -0.3125em #ccc, 2.0625em 0.9375em 0 -0.5625em #ccc; }
  .routeShineAnimation .cloud::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    color: #eee;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #ccc; }
  .routeShineAnimation .cloud.left {
    left: 40%;
    z-index: 2;
    font-size: 18px;
    animation: sunShineLeft 5s alternate infinite; }
    @media screen and (max-width: 575px) {
      .routeShineAnimation .cloud.left {
        font-size: 12px; } }
  .routeShineAnimation .cloud.right {
    left: 65%;
    z-index: 1;
    font-size: 12px;
    animation: sunShineRight 5s alternate infinite; }
    @media screen and (max-width: 575px) {
      .routeShineAnimation .cloud.right {
        font-size: 8px; } }

@keyframes sunShineLeft {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-50px); } }

@keyframes sunShineRight {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(50px); } }

.routeShineAnimation .sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  font-size: 24px;
  color: yellow;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #f29341;
  animation: spin 18s infinite linear; }
  @media screen and (max-width: 575px) {
    .routeShineAnimation .sun {
      font-size: 18px; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.sun .rays {
  position: absolute;
  top: -2em;
  left: 50%;
  font-size: 22px;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #f29341;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #f29341; }
  .sun .rays::before, .sun .rays::after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    font-size: 22px;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #f29341;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #f29341; }
    @media screen and (max-width: 575px) {
      .sun .rays::before, .sun .rays::after {
        font-size: 18px; } }
  .sun .rays::before {
    transform: rotate(120deg); }
  @media screen and (max-width: 575px) {
    .sun .rays {
      font-size: 18px; } }

@media screen and (max-width: 1023px) {
  .routeSloganImage {
    width: 550px; } }

@media screen and (max-width: 575px) {
  .routeSloganImage {
    width: 360px; } }

.routeContent {
  margin: 60px 0 0px; }

.routeContent .routeBlockBgImage {
  background-image: url("../img/route/routeBlockImage.png");
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 60px 0;
  position: relative; }
  @media screen and (max-width: 860px) {
    .routeContent .routeBlockBgImage {
      width: 90%; } }

.routeBlockBgImage .routeTilteBlock {
  width: 100%;
  text-align: right;
  padding-right: 60px; }
  @media screen and (max-width: 860px) {
    .routeBlockBgImage .routeTilteBlock {
      margin-bottom: 60px; } }

.routeBlockBgImage .routeTilteBlock img {
  filter: brightness(0.3); }

.routeBlockBgImage .routeBlock {
  display: flex;
  flex-direction: column;
  align-items: center; }

.routeBlock .routeBlockPart {
  display: flex;
  margin-top: 60px; }

.routeBlock .routeBlockPart:first-child {
  margin-top: unset; }

.routeBlock .routeBlockPart:nth-child(even) .routeAttractionBlock {
  order: 2; }

.routeAttractionBlock {
  position: relative; }
  @media screen and (max-width: 860px) {
    .routeAttractionBlock {
      margin-bottom: 60px; } }

.routeAttractionBlock .attractionTitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  transform: translateY(30px); }

.attractionTitle .landMark {
  animation: markMove 1.5s alternate infinite; }

@keyframes markMove {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(5px); } }

.routeAttractionBlock .attractionImageBlock {
  background-color: #fff;
  width: 400px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 575px) {
    .routeAttractionBlock .attractionImageBlock {
      width: 300px;
      height: 250px; } }

.attractionImageBlock .attractionImage {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background-image: url("../img/route/AttractionBorder.png");
  background-size: contain;
  background-repeat: none;
  overflow: hidden; }
  @media screen and (max-width: 575px) {
    .attractionImageBlock .attractionImage {
      background-size: 100% 100%; } }

.attractionImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.attractionImage .attractionMask {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  @media screen and (max-width: 575px) {
    .attractionImage .attractionMask {
      width: 90%;
      height: 90%; } }

.attractionImage .attractionMask::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 120%;
  height: 120%;
  background-color: rgba(170, 216, 235, 0.45);
  transform: rotate(55deg);
  transform-origin: left top;
  transition: transform 1s; }

.attractionImage .attractionMask:hover::after {
  transform: rotate(0deg); }

.routeAttractionBlock2 {
  width: 400px;
  height: 350px;
  border: 1px solid #ccc; }
  @media screen and (max-width: 860px) {
    .routeAttractionBlock2 {
      display: none; } }

.attractionBgImage {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.attractionBgImage .arrowLeft,
.attractionBgImage .arrowRight {
  width: 80px;
  cursor: pointer; }

.arrowLeft {
  margin-right: 10px;
  filter: grayscale(1);
  animation: ""; }

.arrowRight {
  margin-left: 10px;
  animation: moveRight .5s alternate infinite; }

@keyframes moveLeft {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-5px); } }

@keyframes moveRight {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(5px); } }

.attractionBgImage .attractionMask {
  width: 1000px;
  height: 600px;
  position: relative;
  border-radius: 10px;
  overflow: hidden; }

.attractionMask .cancelLightBox {
  width: 30px;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 3;
  cursor: pointer; }

.attractionMask .attractionAll {
  width: 2000px;
  height: 600px;
  display: flex;
  transition: transform 1s linear; }

.attractionAll .attractionInfoBlock {
  width: 1000px;
  display: flex; }

.attractionInfoBlock .attractionInfoImage {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000; }
  .attractionInfoBlock .attractionInfoImage img {
    width: 100%;
    vertical-align: middle; }

.attractionInfoBlock .attractionInfoText {
  width: 400px;
  background-color: #fff; }

.otherLinkBlock {
  width: 100%;
  max-width: 1200px;
  margin: 120px auto; }

.otherLink .otherLinkTitle {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }
  @media screen and (max-width: 767px) {
    .otherLink .otherLinkTitle {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px; }
      .otherLink .otherLinkTitle :first-child {
        display: none; } }

.otherLinkTitle .routeOtherTitleImage {
  width: 300px;
  height: 30px;
  background-image: url(../img/route/routeOtherTitleBlock.png); }
  @media screen and (max-width: 860px) {
    .otherLinkTitle .routeOtherTitleImage {
      width: 240px; } }
  @media screen and (max-width: 767px) {
    .otherLinkTitle .routeOtherTitleImage {
      width: 100%;
      max-width: 400px;
      margin-top: 20px; } }

.otherLinkTitle p {
  margin: 0 40px; }
