<div class="chatBot" id="chatBot">
    <img src="./img/index/botBird.gif" class="bird">
    <img src="./img/index/birdChat.gif" class="birdChat">
    <div class="openBtn" id="openBot">
        <img src="./img/index/chatBotOpen.png"> 
    </div>
    <div class="chatContent">
        <!-- 對話內容區塊 -->
    </div>
    <div class="keywordBar">
        <span>台北散步</span>
        <span>路線</span>
        <span>小遊戲</span>
        <span>GPS</span>
        <span>心情</span>
        <span>明信片</span>
        <span>揪團</span>
    </div>
    <div class="inputBar">
        <input type="text" id="" class="botInput">
        <div class="botInputBtn">發送</div>
    </div>

</div>