<div class="eventCardsWrap">
    <div class="eventCard">
        <div class="dotWrap lightReport">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic01.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>職人散步GoGo團</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span class="lightDetail">more</span>
        </div>
    </div>
    <div class="eventCard">
        <div class="dotWrap lightReport">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic02.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>信義一日遊</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span class="lightDetail">more</span>
        </div>
    </div>
    <div class="eventCard">
        <div class="dotWrap lightReport">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic03.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>一起去陽明山散步吧</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span class="lightDetail">more</span>
        </div>
    </div>
</div>
            <!-- 燈箱/揪團詳情 -->
            <div class="backDrop">
                <div class="lightbox_detailevent">
                    <div class="lightbox_detailevent_info">
                        <div class="close">✘</div>
                        <div class="detaileventContent">
                            <div class="detaileventPic">
                                <div class="title">
                                    <div class="eventInfotitle">故宮好好玩</div>
                                    <div class=" dotWrap lightReport ">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div>
                                </div>
                                <div class="detaileventPicbox">
                                    <img src="./img/event/event_museum.jpg" alt="">
                                </div>
                            </div>
                            <div class="detaileventText">
                                <form action="">
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">活動日期</div>
                                        <div>2020-03-01(日)</div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">報名截止日</div>
                                        <div>2020-02-28(五)</div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">集合時間</div>
                                        <div>早上 8:30</div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">集合地點</div>
                                        <div>信義新光三越</div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">活動介紹</div>
                                        <div>故宮好好玩</div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">路線</div>
                                        <div>
                                            官方路線二
                                        </div>
                                    </div>
                                    <div class="eventInforow">
                                        <div class="eventrowTitle">景點</div>
                                        <div>
                                            台北101 -> 台北101 -> 台北101
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="enroll">
                            @@include('./btnRed.html',{
                            "link":"#",
                            "innerText":"我要報名"
                            })
                        </div>
                    </div>
                </div>
            </div>
            <!-- 燈箱/揪團檢舉 -->
            <div class="backDrop">
                <div class="lightbox_report">
                    <div class="lightbox_report_info">


                        <div class="reportTitle">
                            <h2>協助我們了解情況?</h2>
                        </div>
                        <form>
                            <input type="radio" name="reason" value="色情暴力等不當內容"> 色情暴力等不當內容
                            <br>
                            <input type="radio" name="reason" value="歧視謾罵他人"> 歧視謾罵他人
                            <br>
                            <input type="radio" name="reason" value="其他違規違法項目"> 其他違規違法項目
                            <br>
                            <div class="reportSent">
                                <div class="enter">
                                    <a class="btnPink">確定</a>
                                </div>
                                <div class="cancel">
                                    <a class="btnPink">取消</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>