<div class="eventCardsWrap">
    <div class="eventCard">
        <div class="dotWrap">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic01.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>職人散步GoGo團</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span>more</span>
        </div>
    </div>
    <div class="eventCard">
        <div class="dotWrap">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic02.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>信義一日遊</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span>more</span>
        </div>
    </div>
    <div class="eventCard">
        <div class="dotWrap">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="eventPicWrap">
            <img src="./img/index/eventPic03.jpg" class="eventPic">
        </div>
        <div class="cardText">
            <h1>一起去陽明山散步吧</h1>
            <p>
                活動日期:2020-03-01(日) <br>
                報名截止:2020-02-28(五) <br>
                集合地點:信義新光三越
            </p>
            <span>more</span>
        </div>
    </div>
</div>