@import "./base/var.scss";
@import "./base/reset.scss";
@import "./layout/card.scss";


//   banner文字
.eventTitle {
    padding-top: 10%;
    width: 100%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

//內容
.eventContent {
    max-width: 1200px;
    border: 1px solid red;
    margin: 70px auto;
    .newEvent {
        width: 100%;
        // border: 1px solid green;
        position: relative;
        .newEventTitle {
            display: inline-block;
            position: absolute;
            left: -160px;
            top: -160px;
        }
        #slideBoard {
            width: 100%;
            border: 1px solid black;
            overflow: hidden;
            ul {
                position: relative;
                display: flex;
                a {
                    display: inline-block;
                    li {
                        display: inline-flex;
                        float: left;
                        width: 1200px;
                        .newEventPic {
                            background-color: #f2fbff;
                            padding: 30px 48px 50px 48px;
                            border: 1px solid #b0b0b0;
                        }
                        .newEventText {
                            position: relative;
                            margin: 0 auto;
                            p {
                                padding-top: 32%;
                                font-size: 36px;
                                color: $fcInfo;
                                font-family: 微軟正黑體;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 輪播按鈕...
#contentButton {
    /* border: 1px solid red; */
    height: 45px;
    display: flex;
    justify-content: center;
    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #589fb2;
        margin: 25px 8px;
        cursor: pointer;
    }
    li.clickMe {
        background-color: #589fb2;
        opacity: 0.6;
    }
}

// 分隔線-剪刀
.cutLine {
    width: 100%;
    margin: 15px 0 80px 0;
    img {
        width: 100%;
    }
}

// 活動瀏覽
.eventScan {
    border: 1px solid green;
    //分類bar
    .catalog {
        width: 100%;
        position: relative;
        margin: 60px 0;
        &:before {
            content: "";
            background-image: url(../img/event/event_bluepointl.png);
            height: 30px;
            width: 1200px;
            position: absolute;
            bottom: -40px;
        }
        ul {
            display: flex;
            flex-direction: row;
            li {
                font-size: 36px;
                color: $fcContent;
                margin: 10px 0px 0 0;
                padding: 5px 25px;
                cursor: pointer;
                &.color {
                    background-image: url(../img/event/event_mark1.png);
                    height: 45px;
                    width: 200px;
                }
                p {
                    font-family: 微軟正黑體;
                }
            }
        }
    }
}

//下拉選單
@mixin select {
    width: 190px;
    height: 30px;
    padding: 5px;
    color: $fcInfo;
    font-size: $fzInfo;
}

.selector select {
    @include select;
}

//卡片區
.cardBox {
    padding: 20px 0;
    .cardLine {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 25px 0;
        .event {
            position:relative;
            width: 30%;
            background-image: url(../img/event/event_cardback.png);
            &.card {
                @include card(510px)
            }
            .reportBtn{
                font-size: 30px;
                position: absolute;
                right: 15px;
                top: -10px;
            }
            .cardPic {
                margin: 25px auto;
                text-align: center;
            }
            .cardText {
                width: 310px;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 3px;
                h1 {
                    font-size: $fzTitle;
                    color: $fcContent;
                    font-weight: 550;
                }
                p {
                    font-size: $fzContent;
                    color: $fcInfo;
                    margin: 10px;
                    text-align: left;
                    letter-spacing: 4px;
                }
                span {
                    color: $fcInfo;
                    font-size: $fzInfo;
                    display: inline-block;
                    margin: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

// viewMore
.viewMore {
    margin: 10px auto;
    text-align: center;
}

//燈箱---------------發起揪團燈箱
// .lightbox_holdevent-target {
//     position: fixed;
//     background-color: rgba(255,255,255,.7);
//     top: -100%;
//     width: 100%;
//     overflow: hidden;
//     transition: opacity linear .5s;

//     //設定內容的樣式及位置(白底區塊) 
//     .lightbox_holdevent_info {
//         width: 70%;
//         height:70%;
//         background: #fff;
//         color: #333;
//         margin: auto;
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         border: 3px solid #fff;
//         box-shadow: 0px 10px 10px rgba(170, 222, 238, 0.7);
//         // 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高
//         opacity: 1;
//         max-width:0%;
//         max-height: 0%;
//         border: 1px solid green;
//         transition: ease-in-out 10s;
//         overflow: hidden;

//     }
// }

// 當 :target 觸發後
// .lightbox_holdevent-target:target {
//     opacity: 1;
//     top: 0;
//     bottom: 0;
//     .content,
//     img,.lightbox_holdevent_info {
//         max-width: 100%;
//         max-height: 100%;
        

//     }
//     .lightbox-close {
//         top:20%;
//     }
// }

//關閉 Lightbox 按鈕的位置及樣式 
// .lightbox-close {
//     display: block;
//     width: 100px;
//     height: 50px;
//     box-sizing: border-box;
//     background: #282a2b;
//     color: red;
//     position: absolute;
//     top: 50%;
//     right: 20%;
//     z-index: 10000;
// }

body{
    position: relative;
}
//  最底層black 
.backDrop{
    background-color: rgba(24, 24, 24, 0.8);
    display: none;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0px;
    opacity: .0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 50;
  }
//  關閉 
.close{
    color: $fcInfo;
    cursor: pointer;
    right:10px;
    font-size: 32px;
    margin: 10px;
    position: absolute;
  }
//   內容
.lightbox_holdevent_info,.lightbox_detailevent_info{
    position: fixed;
    background-color: #d4d3d3;
    background-image: url(../img/event/event_cardback.png);
    box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
    display: none;//
    opacity:0; //
    z-index: 51;
    width: 70%;
    height:75%;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    
    .holdevent_title{
        text-align: center;
        color:$fcContent;
        font-size:$fzTitle;
        font-weight: 550;
        margin: 30px auto 20px auto;
        
    }
    .holdevent_step{
        margin: 0px auto;
        border: 1px solid red;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
                div{
<<<<<<< HEAD
                    height: 100px;
                   
                    margin:  0 30px;
                    width: 100px;
                    border-radius: 50%;
                    
=======
                    margin:  0 55px;
                    width: 110px;
                    height:110px;
>>>>>>> a5084ba97f45e4938091d7f105ca11a5c0e8a920
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fzContent;
<<<<<<< HEAD
                    position: relative;
                    border: 1px solid #6a9cb0;
                    div{
                        position: absolute;
                        top: 0;
                        bottom: 0;
=======
                    //圓形
                    border: 1px solid #6a9cb0;
                    border-radius: 50%;
                    
                    // 菱形
                    // background-image: url(../img/postcard/white.png);
                    // background-size: contain;
                    // background-position: center;
                    // background-repeat: no-repeat;
                    // text-align: center;
                    &.yellow{
                        background-color: #e4c56f;
                    }
                    p{
                        margin: 4px 0;
>>>>>>> a5084ba97f45e4938091d7f105ca11a5c0e8a920
                    }
                }

            
        
    }
}

//第一步驟

.holdevent_step1content{
    
    display: none;
    border: 1px solid purple;
    position: absolute;
    width: 100%;
  
}

.chooseRoute{
    margin: 30px auto;
    display: flex;
    justify-content: center;
   
    .sliderWrap{
        width: 1100px; 
        overflow: hidden;
        .routeBox{
        text-align: center;
        display: flex;
        flex-direction: row;
        border: 1px solid green;
        width: 1600px;
            div{
                cursor: pointer;
                background-color: #cce6f0;
                width: 200px;
                height: 200px;
                margin:  0 auto;
                line-height:200px;
                font-size: $fzContent;
                color: $fcInfo;
            }
        
        }
    
    }
    .slideBtn{
        width: 45px;
        border: 1px solid #6a9cb0;
        padding-top: 73px;
            img{
                width: 100%;
            }
    }
    
}
//選擇路線下方文字
.routeClick{
    margin: 0 auto;
    border: 1px solid #6a9cb0;
    width: 95%;
    p{
        margin: 10px 0 20px 0px;
        font-size: $fzContent;
        color: $fcInfo;
    }
}


//上下一步按鈕
.stepBtn{
    display: flex;
    justify-content: center;
    div{
        margin: 0px 60px 5px 60px;
    }
}
// 第2步驟

  .holdevent_step2content{
    display: none;
    .step2Info{
        display: flex;
        border: 1px solid green;
        padding: 0 30px;
        .holderPic{
            width: 50%;
            border: 1px solid purple;
            input{
                font-size: $fzContent;
                color: $fcInfo;
            }
            div{
                border-radius: 5px;
                margin-top: 20px;
                border: 3px dashed #6a9cb0;
                width:480px;
                height:265px;
            }
        }
        .holderPicBox{
            text-align: center;
            line-height: 265px;
            font-size: $fzContent;
            color: $fcInfo;
        }
    }
    .holderInfo{
        margin: 10px auto;
        font-size: $fzContent;
        color: $fcInfo;
        div{
            margin: 10px 0;
            input{
                width: 280px;
                height: 35px;
            }
            label{
                margin-right:10px;
            }
        }
    }
  }



// 第3步驟
.holdevent_step3content{
    display: block;
    font-size: $fzContent;
    color: $fcInfo;
    .step3Info{
        display: flex;
        margin: 20px 50px;
        border: 1px solid green;
       .holderCover{
           width: 50%;
           border: 1px solid purple;
           padding-left: 50px;
           .holderCoverPic{
               width: 420px;
               img{
                    border-radius: 5px;
                    width: 100%;
               }
           }
           .holderCoverText{
                margin: 10px 0;
                letter-spacing: 1.2px;
                .title{
                    font-weight: 550;
                    font-size: 20px;
                    margin: 10px 0;
                }             
           }
       }
       .holderCoverInfo{
           line-height: 2;
           letter-spacing: 1.2px;
           padding-left: 100px;
           table{
               margin-top: 10px;
                tr{
                    height: 50px;
                    td:nth-child(1){
                        width:130px;
                    }
                }
           }
       }
    }
}

//燈箱-活動詳細介紹
// .lightbox_detailevent_info{
//     display: block;
//     opacity: 1;
// }
.detaileventContent{
    border: 1px solid red;
    font-size: $fzContent;
    color: $fcContent;
    display: flex;
    padding-top: 50px;
    letter-spacing: 1.2px;
    justify-content: center;
    line-height: 1.75;
    .detaileventPic{
        width: 50%;
        border: 1px solid green;
        .title{
            border: 1px solid purple;
            display:flex;
            position: relative;
            .eventInfotitle{
                font-size: $fzTitle;
                font-weight: 550;
                line-height: 32px;
                margin-right: 150px;
            }
            .reportBtnB{
                font-size: 30px;
                text-align: center;
                position: absolute;
                right: 70px;
                bottom: 0;
            }
        }
        .detaileventPicbox{
            width: 550px;
            padding-top: 40px;
            img{
                width:100%;
                border-radius: 5px;
            }
        }
    }
    .detaileventText{
        padding: 70px 0px 0px 0px;
        width: 45%;
        border: 1px solid blue;
        // table{
        //     border: 1px solid pink;
        //     tr{
        //         height: 45px;
        //         margin-bottom: 10px;
        //         td:nth-child(1){
        //             background-color: lightblue;
        //         }
        //     }
        // }
        .eventInforow{
            height: 45px;
            line-height: 45px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            .eventrowTitle{
                background-color: lightblue;
                width: 30%;
                margin-right: 40px;
                border-radius: 3px;
                text-align: center;
            }
            div:nth-child(2){
                width: 60%;
                border: 1px solid red;

            }
        }
    }
}

//我要報名
.enroll{
    padding-top: 5px;
    text-align: center
}

//檢舉燈箱
.lightbox_report_info{
    position: fixed;
    background-color: #d4d3d3;
    background-image: url(../img/event/event_cardback.png);
    box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
    display: block;//
    opacity:1; //
    z-index: 51;
    width: 20%;
    height:40%;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    
    .reportTitle{
        font-size: $fzTitle;
        margin: 30px 0;
        text-align: center;
    }
    form{
        font-size: 20px;
        padding: 0 15px ;
        margin: 30px auto;
        input{
            margin: 15px;
        }
    }
    .reportSent{
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
    }
}
