@import "./base/var.scss";
@import "./layout/card.scss";
@import "./layout/index/eventSection.scss";

.wrapper{
    width: 100%;
    overflow: hidden;
}
// banner文字-------

.titleFirst{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
    animation: rotateMove 2s cubic-bezier(.15,.76,.98,.4) alternate infinite;
}
@keyframes rotateMove{
    from{transform: rotate(-10deg);}
    to{transform: rotate(10deg);}
}
@media screen and (max-width:$small){
    .titleLast{
        width: 100%;
    }
    img.titleFirst{
        width: 25%;
        left: 15px;
    }
}
//內容-------
.eventContent {
    width: 100%;
    max-width: 1200px;
    //border: 1px solid red;
    margin: 0px auto;
    // 最新揪團區-------
    .newEventBlock {
        width: 100%;
        position: relative;
        //title
        .newEventTitle {
            width: 100%;
            z-index: 10;
            display: flex;
            position: absolute;
            align-items: center;
            left: -185px;
            top: -75px;
            .newEventSubTitle{
                animation: subtitleAni .8s infinite alternate;
            }
            //手機板副標題
            .sectionSubTitleMobile{
                margin: 20px auto;
                padding: 10px;
                letter-spacing: 3px;
                border-radius: 20px;
                font-size: 30px;
                font-weight: bolder;
                background-color: #116491;
                color: #fff;
            }
            @media screen and (min-width:768px){
                div.sectionSubTitleMobile{
                    display: none;
                }
            }
        }
        //藍色泡泡
        @media screen and (max-width: 1365px){
            .newEventTitle {
                top:-3%;
                left: -4%;
            }
        }
        @media screen and (max-width: 1140px){
            .newEventTitle {
                width: 170px;
                
            }
        }
        @media screen and (max-width: 1140px){
            .newEventTitle {
                width: 170px;
                
            }
        }
        @media screen and (max-width:768px){
            .newEventTitle{
                top: 0;
                right:0;
                left: 0;
                align-items: center;
                width:100%;
            }
        }
        @media screen and (max-width:768px){
            .newEventSubTitle{
                display: none;
            }
        }
        
        // 輪播圖
        #slideBoard {
           width: 100%;
            overflow: hidden;
            letter-spacing: 1.5px;
            line-height: 1.75;
            #content {
                position: relative;
                display: inline-flex;
                    .newSliderBox {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        border: 1px solid green;
                        .newEventPic {
                            background-color: #f2fbff;
                            padding: 40px 45px 65px 45px;
                            border-radius: 2px;
                            
                            box-shadow: $mediumShadow;
                            img{
                                width: 100%;
                            }
                        }
                        @media screen and (max-width: 1030px){
                            .newEventPic{
                                padding: 40px 45px 65px 45px;
                                margin: 35px auto;
                                
                            }
                        }
                        @media screen and (max-width:767px){
                            .newEventPic{
                                margin: 60px auto;
                            }
                        }
                        .newEventText {
                            margin: 170px auto;
                            p {
                                font-size: $fzTitle;
                                color: $fcInfo;
                            }
                        }
                        @media screen and (max-width: 1030px){
                            .newEventText{
                                margin: 85px auto;
                            }
                        }
                        @media screen and (max-width: 768px){
                            .newEventText{
                                margin: 35px auto;
                            }
                        }
                    }
                    @media screen and (max-width: 1030px){
                        .newSliderBox{
                            flex-direction: column;
                            margin: 20px auto;
                            text-align: center;
                            align-self: center;
                        }
                    }
                    @media screen and (max-width: 768px){
                        .newSliderBox{
                            margin: 50px auto;
                        }
                    }

                
            }
        }
        
    }
}

// 輪播按鈕...
#contentButton {
    /* border: 1px solid red; */
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #91c4d3;
        margin: 25px 8px;
        cursor: pointer;
    }
    li.clickMe {
        background-color: #589fb2;
        
    }
}
// 小插圖-大聲公
.loudspeaker{
    position: absolute;
    right: 95px;
    bottom: 70px;
    z-index: 5;
}
@media screen and (max-width: 1030px){
    .loudspeaker{
        display: none;
    }
}

// 小插圖-照相機
.camera{
    position: absolute;
    top: -25px;
    left:525px;
    width:150px;
    z-index: 15;
    animation: turnRight 2s infinite alternate linear;
}
@keyframes turnRight {
    0% {
        transform:rotate(20deg);
    }
    55% {
        transform:rotate(18deg);
    }
}
@media screen and (max-width: 1030px){
    .camera{
        top: 505px;
        width: 120px;
        left:610px;
    }
}
@media screen and (max-width: 850px){
    .camera{
        display: none;
    }
}
//閃光特效
.flashlight {
    position: absolute;
    width: 595px;
    height: 446px;
    top: 0;
    left: 0;
	background:rgba(white, 0.6);
	transition:all ease 0.2s;
	opacity:0;
    animation: flashlight 5s linear infinite;
}
@keyframes flashlight {
    56% {
        opacity:1;
    }
    55%, 65% {
        opacity:0;
    }
}
@media screen and (max-width: 1030px){
    .flashlight{
        width: 100%;
        flex-direction: column;
        margin: 0px auto;
        
    }
}
// 分隔線-剪刀-----
.cutLine {
    width: 100%;
    margin: 15px 0 80px 0;
}

// 活動瀏覽區-----
.eventScanBlock {
    //border: 1px solid green;
    position: relative;
    //小插圖-熱氣球
    .airb1{
        width: 80px;
        position: absolute;
        top: 200px;
        left: -240px;
        animation: airb1 6s infinite alternate;
    }
    @keyframes airb1 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 55px);
        }
    }
    .airb2{
        width: 100px;
        position: absolute;
        top: 380px;
        left: -235px;
        animation: airb1 5.5s infinite alternate;
    }
    .airb3{
        width: 115px;
        position: absolute;
        top: 270px;
        left: -145px;
        animation: airb3 4s infinite alternate;
    }
    @keyframes airb3 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 35px);
        }
    }
    //小插圖-煙火
    .firework1{
        width: 100px;
        position: absolute;
        top: 720px;
        right: -90px;
        animation: fireworks 4s infinite ;
    }
    @keyframes fireworks {
        0%{
            transform: scale(0);
        }
        80%{
            transform: scale(1);
        }
        80%{
            opacity: 0.75;
        }
        85%{
            opacity: 0.6;
        }
        90%{
            opacity: 0.3;
        }
        100%{
            opacity: 0;
        }
    }
    .firework2{
        width: 110px;
        position: absolute;
        top: 665px;
        right: -175px;
        animation: fireworks 6s infinite ;
    }
    .firework3{
        width: 95px;
        position: absolute;
        top: 715px;
        right: -255px;
        animation: fireworks 7s infinite ;
    }
    //小插圖-天燈
    .skyLight1{
        position: absolute;
        top: 1210px;
        left: -235px;
        width: 120px;
        animation: skyLightAni 2s infinite alternate-reverse linear;
    }
    .skyLight2 {
        width: 65px;
        position: absolute;
        left: -145px;
        top: 1420px;
        animation: skyLightAni 1s infinite alternate-reverse linear;
    }
    @keyframes skyLightAni {
        0% {
            transform: translateY(0);
        }
        0% {
            transform: translateY(-10px);
        }
    }
    
}
//下拉選單
.selector select {
    width: 190px;
    height: 30px;
    margin: 10px 0;
    color: $fcInfo;
    font-size: $fzInfo;
}
.cardTop{
    display: flex;
    justify-content: center;
}
//卡片星星標記
.starMark{
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 270px;
    padding-top: 6px;
    padding-left: 3px;
    font-size: 18px;
    color: #646464;
    
}
// 隱藏卡片區 
.cardBox2{
    display: none;
}
// viewMore cardBox
.viewMore {
    margin: 35px auto 0 auto;
    text-align: center;
}

//燈箱們---------------發起揪團燈箱

//  最底層black 
.backDrop{
    background-color: rgba(24, 24, 24, 0.8);
    display: none;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    z-index: 200;
    top: 0px;   
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
//  關閉 
.close{
    color: $fcInfo;
    cursor: pointer;
    right:10px;
    font-size: 32px;
    margin: 10px;
    position: absolute;
  }
  
//   內容
.lightbox_holdevent_info,.lightbox_detailevent_info{
    position: relative;
    background-color: #d4d3d3;
    background-image: url(../img/event/event_cardback.png);
    box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
    display: flex;//
    flex-direction: column;
    width:1200px;
    height:750px;
    border-radius: 15px;
    align-items: center;
    .holdevent_title{
        text-align: center;
        color:$fcContent;
        font-size: 24px;
        font-weight: bold;
        margin: 40px auto 20px auto;
        
    }
    form{
        height: 536px;
        .stepALL{
            height: 536px;
        }
    }
    .holdevent_step{
        margin: 10px auto;
        // border: 1px solid red;
        text-align: center;
        display: flex;
        justify-content: center;
                div{
                    margin:  0 55px;
                    width: 110px;
                    height:110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: $fzContent;
                    border: 1px solid #6a9cb0;
                    p{
                        margin-bottom: 10px;
                    }
                }
                
    }
}
// 步驟圈圈color
.color{
    background-color: #FFD66A;
}
//第一步驟block
.holdevent_step1content{
    //border: 1px solid purple;
    height: 536px;
    display: block;
}
.chooseRoute{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .sliderWrap{
        width: 1100px; 
        overflow: hidden;
        .routeBox{
        text-align: center;
        display: flex;
        flex-direction: row;
        // border: 1px solid green;
        width: 1600px;
            div{
                cursor: pointer;
                background-color: #cce6f0;
                border-radius: 3px;
                width: 200px;
                height: 200px;
                margin:  0 auto;
                line-height: 200px;
                font-size: $fzContent;
                color: $fcInfo;
            }
        
        }
    
    }
    .slideBtn{
        margin: 0 10px;
        cursor: pointer;
            img{
                width: 100%;
            }
    }
    
}
//選擇路線下方文字
.routeClick{
    margin: 60px auto;
    padding:  0px 95px;
    // border: 1px solid #6a9cb0;
    width: 100%;
    p{
        margin: 20px 0 20px 0px;
        font-size: $fzContent;
        color: $fcInfo;
    }
}


//上下一步按鈕
.stepBtn{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right:0;
    bottom: 50px;
    div{
        margin: 0px 80px;
    }
}
// 第2步驟block
  .holdevent_step2content{
    display: none;
    height: 536px;
    width: 100%;
    .step2Info{
        width: 100%;
        display: flex;
        //border: 1px solid green;
        padding: 10px 40px;
        .holderPic{
            width: 50%;
            //border: 1px solid purple;
            input{
                font-size: $fzContent;
                color: $fcInfo;
            }
            div{ //圖框
                border-radius: 5px;
                margin-top: 20px;
                border: 3px dashed #6a9cb0;
                width:480px;
                height:265px;
            }
        }
        .holderPicBox{
            
            text-align: center;
            line-height: 265px;
            font-size: $fzContent;
            color: $fcInfo;
        }
    }
    .holderInfo{
        //border: 1px solid purple;
        width: 50%;
        font-size: $fzContent;
        align-items: center;
        color: $fcInfo;
        padding: 0px 70px;
        div{
            margin: 15px 0;
            input{
                width: 220px;
                height: 35px;
            }
            label{
                margin-right:10px;
            }
        }
    }
  }
// 第3步驟block
.holdevent_step3content{
    display: none;//
    font-size: $fzContent;
    color: $fcInfo;
    height: 536px;
    width: 100%;
    .step3Info{
        display: flex;
        padding: 10px 40px;
        //左邊
       .holderCover{
           width: 50%;
           display: flex;
           flex-direction: column;
           padding: 15px 60px;
           .holderCoverPic{
               margin-top: 10px;
               img{
                    border-radius: 5px;
                    width: 100%;
               }
           }
           .holderCoverText{
                margin: 20px 0;
                letter-spacing: 1.2px;
                .title{
                    font-weight: 550;
                    font-size: 20px;
                    margin: 15px 0;
                }             
           }
       }
       //右邊
       .holderCoverInfo{
            line-height: 2;
            letter-spacing: 1.2px;
            padding:45px 85px;
            width: 50%;
           
            table{
               
               
                tr{
                    height: 60px;
                    td:nth-child(1){
                        width:110px;
                    }
                }
           }
       }
    }
}

//燈箱-活動詳細介紹
.detaileventContent{
    //border: 1px solid red;
    width:100% ;
    font-size: $fzContent;
    color: $fcContent;
    display: flex;
    padding-top: 100px;
    letter-spacing: 1.2px;
    justify-content: center;
    line-height: 1.75;
    .detaileventPic{
        width: 50%;
        padding: 10px 10px 10px 25px;
        .title{
            display:flex;
            position: relative;
            .eventInfotitle{
                font-size: $fzTitle;
                font-weight: 550;
                
                margin-right: 150px;
            }
            .dotWrap{
                right: 25px;
                width: 40px;
                height: 40px;
                align-self: flex-end;
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-self: center;
                cursor: pointer;
                position: absolute;
            }
            .dot{
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: #646464;
            }
        }
        .detaileventPicbox{
            width: 550px;
            padding-top: 20px;
            img{
                width:100%;
                border-radius: 5px;
            }
        }
    }
    .detaileventText{
        padding: 70px 0px 0px 20px;
        width: 45%;
        .eventInforow{
            height: 45px;
            line-height: 45px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            .eventrowTitle{
                background-color: lightblue;
                width: 30%;
                margin-right: 40px;
                border-radius: 3px;
                text-align: center;
            }
            div:nth-child(2){
                width: 60%;
                

            }
        }
    }
}

//我要報名
.enroll{
    position: absolute;
    bottom: 58px;
}
//檢舉燈箱
.lightbox_report_info{
    position: fixed;
    background-color: #d4d3d3;
    background-image: url(../img/event/event_cardback.png);
    box-shadow: 0px 15px 15px rgba(204, 209, 214, 0.363);
    width: 20%;
    height:40%;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    
    .reportTitle{
        font-size: $fzTitle;
        margin: 30px 0;
        text-align: center;
    }
    form{
        font-size: 20px;
        padding: 0 25px ;
        margin: 35px auto;
        input{
            margin: 15px;
        }
    }
    .reportSent{
        display: flex;
        justify-content: center;
        left: 0;
        right:0;
        bottom: 35px;
        position: absolute;
            div{
                margin: 0px 13px;
            }
        
    }
}