@import "base/var.scss";
@import "base/reset.scss";

// img{
//     width: 100%;
// }

.login{
    z-index: 999;
    // border: 1px solid red;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.8);

}
.login_all{
    border-radius: 25px;
    // padding-bottom: 2%;
    position: relative;
    // opacity: 1;
    // background-color: black;
    background-image: url(../img/member/photography.png);
     background-repeat: no-repeat;
     background-size: cover;
    width: 500px ; //25%
    margin: 10% auto 0% auto;
    // height: 300px;
    // border: 1px solid red;
    
}

.login_all_all{
    height: 426px; 
    padding: 8% 0;
    // background-image: url(../img/login/267836-1F31110113738.jpg);
    //  background-repeat: no-repeat;
    //  background-size: cover;
    // border: 1px solid blue;
    // border-radius: 25px;
    h1{
        // margin: 0 auto;
        // width: 75%;
        // // display: inline-block;
        // background-image: url(../img/member/hip-square.png);
        text-shadow: 3px 3px 3px gray;
        // padding: 0% 7% 0 7%;
        text-align: center;
        // border: 1px solid aqua;
        font-size: $fzTitle;
    }
    input{
        border: 3px dashed $importantColor;
        width: 75%;
        background-image: url(../img/member/hip-square.png);
        opacity: .8;
        padding: 3%;
        // border: 1px solid khaki;
        display: block;
        font-size: $fzContent;
        margin: 10% auto 0 auto;
    }
    input:nth-child(2){
        margin-top: 5%;
    }
    // a:nth-child(3){
    //     color: black;
    //     padding: 1% 2% 1% 1%;
    //     text-align: right;
    //     width: 18%;
    //     // border: 1px solid indianred;
    //     display: inline-block;
    //     margin-left: 69.5%;
    //     font-size: $fzInfo;
    //     margin-top: 5%;
    //     background-image: url(../img/member/hip-square.png);
    //     border: 1px dashed $importantColor;
    // }
    // div:nth-child(4){
    //     border: 1px solid red;
    //     text-align: center;
    // }
}
.findpsw{
    color: black;
        padding: 1% 2% 1% 1%;
        text-align: right;
        width: 18%;
        // border: 1px solid indianred;
        display: inline-block;
        margin-left: 69.5%;
        font-size: $fzInfo;
        margin-top: 5%;
        background-image: url(../img/member/hip-square.png);
        border: 1px dashed $importantColor;
        cursor: pointer;
}
@media screen and (max-width:$small) {
    .login_all{
        width: 300px;
    }
    .login_all_all a:nth-child(3){
       width: 26%;
       margin-left: 61.5%;
    }
    .login_all_all{
        height: 310px;
    }
    .findpsw{
        width: 26%;
        margin-left: 61.5%;
    }

}

.login_bottom{
    // border: 1px solid red;
    text-align: center;
    margin-top: 8%;
}
// .login_login{
//     // display: inline-block;
//     // margin: 0 auto;
//     // margin-top: 8%;
//     // border: 1px solid red;
// }
.login_register{
    // display: inline-block;
    // margin: 3% auto 0% auto;
    // border: 1px solid red;
    margin-left: 3%;

}
.login_close{
    padding:1%;
    border-radius: 50%;
    background-color: $importantColor;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 6%;
    cursor: pointer;
    img{
        width: 100%;
    }
}


.register{
    padding:8% 0;
    // background-image: url(../img/login/267836-1F31110113738.jpg);
    //  background-repeat: no-repeat;
    //  background-size: cover;
    // border: 1px solid blue;
    h1{
        // margin: 0 auto;
        // width: 75%;
        // // display: inline-block;
        // background-image: url(../img/member/hip-square.png);
        text-shadow: 3px 3px 3px gray;
        // padding-top: 10%;
        text-align: center;
        // border: 1px solid aqua;
        font-size: $fzTitle;
        margin-bottom: 3%;
    }
    // input{
    //     border: 3px dashed $importantColor;
    //     width: 75%;
    //     background-image: url(../img/member/hip-square.png);
    //     opacity: .8;
    //     padding: 3%;
    //     // border: 1px solid khaki;
    //     display: block;
    //     font-size: $fzContent;
    //     margin: 8% auto 0 auto;
    // }
    // input:nth-child(2){
    //     margin-top: 5%;
    // }

}
.register_item {
    // border: 1px solid red;
    font-size: 0px;
    padding: 2.5% 0;
    label{
        text-align: left;
        height: 46px;
        display: inline-block;
        font-size: $fzContent;
        width: 25%;
        padding: 3% 1% 3% 4%;
        // border: 1px solid blue;
        // border: 3px dashed $importantColor;
    }
    input{
        // display: inline-block;
        // margin-left: 3%;
        border: 3px dashed $importantColor;
        width: 70%;
        background-image: url(../img/member/hip-square.png);
        // opacity: .8;
        padding: 3%;
        // border: 1px solid khaki;
        display: inline-block;
        font-size: $fzContent;
        // margin-top: 5%;
    }
}
.register_bottom{
    // border: 1px solid red;
    text-align: center;
    margin-top: 8%;
}
// .login_login{
//     // display: inline-block;
//     // margin: 0 auto;
//     // margin-top: 8%;
//     // border: 1px solid red;
// }
.register_back{
    // display: inline-block;
    // margin: 3% auto 0% auto;
    // border: 1px solid red;
    margin-left: 3%;

}
// .register_back{
//     display: block;
//     margin: 3% auto 0% auto;
//     // border: 1px solid red;
// }
@media screen and (max-width:$small) {
    .register_item label{
        width: 30%;
        // padding: 3% 1% 3% 4%;
        font-size: $fzInfo;
    }
    .register_item input{
        width: 65%;
        font-size: $fzInfo;
    }
}
.forgetpsw{
    height: 426px; 
    padding: 8% 0;
    h1{
        // margin: 0 auto;
        // width: 75%;
        // // display: inline-block;
        // background-image: url(../img/member/hip-square.png);
        text-shadow: 3px 3px 3px gray;
        // padding-top: 10%;
        text-align: center;
        // border: 1px solid aqua;
        font-size: $fzTitle;
        margin-bottom: 3%;
    }
    input{
        border: 3px dashed $importantColor;
        width: 75%;
        background-image: url(../img/member/hip-square.png);
        opacity: .8;
        padding: 3%;
        // border: 1px solid khaki;
        display: block;
        font-size: $fzContent;
        margin: 10% auto 0 auto;
    }
    input:nth-child(2){
        margin-top: 5%;
    }
}
.forgetpsw_bottom{
    // border: 1px solid red;
    text-align: center;
    margin-top:8%; // 21%
}
// .login_login{
//     // display: inline-block;
//     // margin: 0 auto;
//     // margin-top: 8%;
//     // border: 1px solid red;
// }
.forgetpsw_back{
    // display: inline-block;
    // margin: 3% auto 0% auto;
    // border: 1px solid red;
    margin-left: 3%;

}

// .forgetpsw_back{
//     display: block;
//     margin: 3% auto 0% auto;
//     // border: 1px solid red;

// }
@media screen and (max-width:$small) {
    .forgetpsw{
        height: 310px; 
    }
}