@import "main.scss";
@import "reset.scss";


/*------------小朱-----------------*/
// 1.1明信片中間大區域
.postcardcontent {
    min-width: 1200px;
    margin: 0px auto;
    width: 1200px;
    height: 100%;
}

//---------------------------------------------
// 1.2明信片步驟
.postcardStepbox {
    display: flex;
    margin: 0px auto;
    min-width: 1200px;
    width: 1200px;
    height: 150px;
}

@each $var in 1,2,3,4,5{
    .step#{$var} {
        width: 100%;
        background-image: url(../img/postcard/六邊形-白色.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
}




.arrow1 {
    background-image: url(../img/postcard/手繪藍箭頭.png);
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

//暫時文字
.stepname {
    font-size: 20px;
    font-family: "微軟正黑體";
    margin-top: 50px;
}


//-------------------------------------------
// 1.3明信片客製畫面
.postcardMain {
    display: flex;
    margin: 0px auto;
    max-width: 1200px;
    height: 600px;
    background-color: lightsalmon;
}

.postLeft {
    width: 50%;
    height: 100%;
    background-color: lightblue;
}

.postRight {
    width: 50%;
    height: 100%;
    background-color: lightgreen;
}