@import "main.scss";
@import "reset.scss";


/*------------小朱-----------------*/
footer{
    width: 100%;
    height: 200px;
    background-color:black;
}

// 1.1明信片中間大區域
.postcardcontent{
    width: 100%;
    height: 100%;
}
//---------------------------------------------
// 1.2明信片步驟
.postcardStepbox{
    display: flex;
    margin:0px auto;
    min-width: 1200px;
    width: 1200px;
    height: 150px;
}
.postStep{
    width:100%;
    background-image:url(../img/postcard/框-1.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    
}

.arrow1{
    background-image:url(../img/postcard/手繪藍箭頭.png);
    width:500px;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
}
//暫時文字
.stepname{
    font-size: 20px;
    font-family: "微軟正黑體";
    margin-top: 50px;
}


//-------------------------------------------
// 1.3明信片客製畫面
.postcardMain{
    display: flex;
    margin:0px auto;
    max-width: 1200px;
    height: 800px;
    background-color:lightsalmon;
}

.postLeft{
    width: 50%;
    height: 100%;
    background-color:lightblue;
}
.postRight{
    width: 50%;
    height: 100%;
    background-color:lightgreen;
}