@import "main.scss";

body {
    background-image: $bgImage;
}

/*回到頂端*/
// .GoTop{
//     display: flex;
//     position: fixed;
//     right: 0px;
// }
/*------------小朱-----------------*/
// 1.1明信片中間大區域
.postcardcontent {
    min-width: 1200px;
    margin: 0px auto;
    width: 1200px;
    height: 100%;
}

.postcardimg {
    display: block;
    width: 100%;
    height: 100%;
}

div.postcardimg1 {
    position: absolute;
    width: 20%;
    top: 1100px;
    left: 0px;
    z-index: -1;
}

div.postcardimg2 {
    position: absolute;
    width: 20%;
    top: 800px;
    right: 0px;
    z-index: -1;
}

div.postcardimg3 {
    position: absolute;
    width: 18%;
    top: 1200px;
    right: 0px;
    z-index: -1;
}

div.postcardimg4 {
    position: absolute;
    width: 20%;
    top: 500px;
    left: 0px;
    z-index: -1;
}


//---------------------------------------------
// 1.2明信片步驟
.postcardStepbox {
    display: flex;
    margin: 20px auto;
    min-width: 1200px;
    width: 1200px;
    height: 150px;
}

@each $var in 1,
2,
3,
4,
5 {
    .step#{$var} {
        width: 100%;
        background-image: url(../img/postcard/white.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
}

.arrow1 {
    background-image: url(../img/postcard/arrow.png);
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

//Step文字
.stepname {
    font-size: $fzTitle;
    margin-top: 50px;
    color: $fcContent;
    line-height: 30px;
}


//-------------------------------------------
// 1.3明信片客製畫面
.postcardMain {
    display: flex;
    margin: 0px auto;
    max-width: 1200px;
    height: 800px;
}

/*預覽畫面*/
.postLeft {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-right: 15px;
}
/*畫布畫面*/
#postcardCanvas {
    width: 95%;
    height: 85%;
    // background-color: yellowgreen;
    border: brown 1px solid;
}


/*明信片外框畫面*/
.postWhiteBack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 15px 2px #0e0e0e;
}
/*橢圓*/
.Oval {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    // background-image: url(../img/postcard/postcardLOGO.png);
    position: absolute;
    width: 220px;
    height: 150px;
    border-radius: 200px 200px 0 0;
    bottom: 85px;
    // background-size: 80%;
    // background-position: center;
    // background-repeat: no-repeat;
    transform: scaleY(0.8);
}
/*橢圓裡面LOGO*/
.Oval img{
width: 85%;
height: 70%;
}



/*2-2-2(二).操作畫面.postRight設定*/
/*===============================================================*/
/*2-2-2(二).操作畫面.postRight切換步驟css + postcard.js*/
// .postRight_1 {
//     display: none;
// }

.postRight_2 {
    display: none
}

.postRight_3 {
    display: none
}

.postRight_4 {
    display: none
}

.postRight_5 {
    display: none
}

.postRight {
    width: 40%;
    height: 100%;
    border: black 1px solid;
    background-image: url(../img/postcard/just-waves.png);
    border-image-source: url(../img/postcard/postline.svg);
    border-image-width: 1rem;
    border-image-repeat: round;
    border-image-slice: 30 30% 45;
}



.postRightDIY h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $fzTitle;
    color: $importantColor;
}

.poschoose {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

}

@each $var in _1,
_2,
_3 {
    .postBGC#{$var} {
        margin: 0 auto;
        height: 180px;
        width: 400px;
        transition: all 0.5s;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
    }

    .postBGC#{$var} img {
        width: 100%;
        height: 100%;
        transform: scale(0.8, 0.8);
        transition: all 0.3s ease-out;
    }

    .postBGC#{$var} img:hover {
        transform: scale(1, 1);
    }
}

/*搭配js做選中效果*/


@each $var in _1,
_2,
_3 {
    .postBGC#{$var}_Selected img{
            width: 100%;
            height: 100%;
            transform: scale(0.8, 0.8);
            transition: all 0.3s ease-out;
            border: solid 5px lightcoral;
    }

}





/*下一步按鍵*/
.step_btn1 {
    // position: relative;
    // bottom: -100px;
    text-align: center;
}