@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  font-family: "微軟正黑體";
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.member_content {
  width: 100%;
  background-image: url(/dev/images/hip-square.png);
}

.member_all {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.member_bread {
  padding: 3% 3% 1.5% 0%;
  font-size: 16px;
  color: #646464;
}

.member_point {
  padding: 1.5% 3% 3% 0%;
  font-size: 0px;
  padding-left: 100px;
}

.member_left {
  width: 50px;
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
  margin-right: 1%;
}

.member_right {
  display: inline-block;
  font-size: 16px;
  color: #646464;
  line-height: 32px;
}

.member_info {
  width: 100%;
  border: 1px solid red;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px gray;
          box-shadow: 10px 10px 5px gray;
}

.member_info_nav {
  border: 1px solid navy;
}

.member_info_nav ul {
  font-size: 0px;
}

.member_info_nav ul li {
  display: inline-block;
  height: 125px;
  width: 13%;
  text-align: center;
  font-size: 16px;
  color: #1e1e1e;
  line-height: 125px;
  margin-right: 2.5%;
  background-image: url(../images/stamp.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-top: 100px;
  font-weight: bolder;
  position: relative;
}

.member_info_nav ul li img {
  position: absolute;
  left: -11px;
  top: 10px;
  opacity: .2;
  width: 120%;
}

.member_info_nav ul li:nth-child(1) {
  margin-left: 4.75%;
}

.member_info_nav ul li:nth-child(6) {
  margin-right: 4.75%;
}

.member_info_info {
  border: 1px solid red;
  font-size: 0px;
}

.member_info_info_left {
  width: 50%;
  border: 1px solid red;
  font-size: 0px;
}

.member_info_info_left div:nth-child(1) {
  padding: 10% 25% 0% 25%;
  font-size: 16px;
  border: 1px solid green;
}

.member_info_info_left div:nth-child(1) img {
  border: 1px solid aquamarine;
}

.member_info_info_left div:nth-child(2) {
  font-size: 16px;
  border: 1px solid green;
}

.member_info_info_line {
  font-size: 16px;
}

.member_info_info_right {
  font-size: 16px;
}
/*# sourceMappingURL=member.css.map */